.wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(0, 255, 255, 0.178);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  color: rgb(83, 0, 0);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 50px;
}
.button-good {
  background-color: rgba(125, 216, 73, 0.616);
}
.button-good:hover {
  background-color: rgba(125, 216, 73, 0.916);
}
.button-neutral {
  background-color: rgba(73, 111, 216, 0.616);
}
.button-neutral:hover {
  background-color: rgba(73, 111, 216, 0.916);
}

.button-bad {
  background-color: rgba(216, 166, 73, 0.616);
}
.button-bad:hover {
  background-color: rgba(216, 166, 73, 0.916);
}
